@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap');

.courriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  height: 100%;
  background-color: #FFEDD5;
}

.the-container {
  width: 80%;
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat" ;

}

.top-part {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center-align the items */
  gap: 25px; /* Adjust this value for desired spacing */
  margin-bottom: 20px;
  font-family: "Montserrat";
}

.courriculum-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.courriculum-description {
  font-size: 1.5rem;
  color: #555;
  
}

.courriculum-link {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #FF9C06; /* Link color */

}

.bottom-part {
  margin-top: 10rem; /* Added gap between top and bottom part */
}

.images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow images to wrap to the next line on smaller screens */
}

.image-wrapper {
  position: relative;
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 10px; /* Add margin for better spacing on smaller screens */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
}

.image-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(50%);
}

.image-wrapper::after {
  content: attr(data-name);
  font-size: 1.3rem;
  font-family: "Montserrat" ;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.image-wrapper:hover::after {
  opacity: 1;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .the-container {
    width: 90%;
    padding: 15px;
  }

  .courriculum-title {
    font-size: 1.75rem;
  }

  .courriculum-description {
    font-size: 1.25rem;
  }

  .bottom-part {
    margin-top: 5rem;
  }

  .image-wrapper {
    width: 15rem;
    height: 22rem;
  }

  .image-wrapper::after {
    font-size: 1.2rem;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .the-container {
    width: 95%;
    padding: 10px;
  }

  .courriculum-title {
    font-size: 1.5rem;
  }

  .courriculum-description {
    font-size: 1rem;
  }

  .bottom-part {
    margin-top: 3rem;
  }

  .image-wrapper {
    width: 12rem;
    height: 18rem;
  }

  .image-wrapper::after {
    font-size: 1rem;
  }
}
