.curriculum-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFEDD5;
}

.title-description-container {
    width: 80%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding: 50px;
    background-color: aliceblue;
}

.curriculum-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.curriculum-div {
    display: flex;
    width: 100%;
}

.description-underline-wrapper {
    width: 40%;
}

.curriculum-description {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 20px;
}

.underline {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 1rem;
}

.images-div {
    width: 60%;
    display: flex;

}

.images-div img {
    width: 300px;
    height: 500px;
    object-fit: cover;
}
