.curriculum-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFEDD5;
}

.title-description-container {
    width: 80%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding: 50px;
    background-color: aliceblue;
}

.curriculum-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.curriculum-div {
    display: flex;
    width: 100%;
}

.description-underline-wrapper {
    width: 40%;
}

.curriculum-description {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 20px;
}

.underline-1 {
    width: 60%;
    height: 2px;
    background-color: #F7B000;
    margin-top: 1rem;
    margin-left: 1rem;
}

.images-div {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.image-container {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
}

.images-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.images-div img:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    pointer-events: none; /* Makes sure the text doesn't interfere with the link */
}

.image-container:hover .hover-text {
    opacity: 1;
}

.link-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

.link-container a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #ff9b05;
    text-decoration: underline;
}
