.curriculum-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFEDD5;
}

.title-description-container {
    width: 80%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding: 50px;
    background-color: aliceblue;
}

.curriculum-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.curriculum-div {
    display: flex;
    width: 100%;
}

.description-underline-wrapper {
    width: 40%;
}

.curriculum-description {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 20px;
}

.underline-1 {
    width: 60%;
    height: 2px;
    background-color: #F7B000;
    margin-top: 1rem;
    margin-left: 1rem;
}

.images-div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.image-container {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #FFEDD5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

/* Add margin for better spacing on smaller screens */
}

.images-div img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    color: #000000;
    font-size: 1.5rem;
    padding: 10px;
}

.image-container:hover {
    transform: scale(1.05);
}

.link-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

.link-container a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #ff9b05;
    text-decoration: underline;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
    .title-description-container {
        width: 90%;
        padding: 20px;
    }

    .curriculum-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .curriculum-div {
        flex-direction: column;
        align-items: center;
    }

    .description-underline-wrapper {
        width: 100%;
        margin-bottom: 2rem;
    }

    .curriculum-description {
        font-size: 1.2rem;
    }

    .underline-1 {
        width: 80%;
    }

    .images-div {
        width: 100%;
        justify-content: center;
    }

    .image-container {
        width: 80%;
        height: auto;
    }

    .images-div img {
        height: auto;
    }

    .image-title {
        font-size: 1.2rem;
        padding: 5px;
    }

    .link-container a {
        font-size: 1rem;
    }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
    .title-description-container {
        width: 95%;
        padding: 10px;
    }

    .curriculum-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .curriculum-description {
        font-size: 1rem;
    }

    .underline-1 {
        width: 90%;
    }

    .image-container {
        width: 90%;
        height: auto;
    }

    .image-title {
        font-size: 1rem;
    }

    .link-container a {
        font-size: 0.9rem;
    }
}
