/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.mainnn {
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.join-us {
  background-color: #f59e0b;
  color: black;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  font-family: "Montserrat", serif;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 13rem;
  left: 13rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.join-us:hover {
  background-color: #f8e83d;
  transform: translateY(-0.1875rem);
}

.join-us:active {
  background-color: #e5c636;
  transform: translateY(0.0625rem);
}

.slide-transition {
  transition: opacity 1s ease-in-out;
}

@media (max-width: 768px) {
  .join-us {
    bottom: 10rem;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center exactly */
    font-size: 1rem;
  }

  /* Adjust other styles for smaller screens */
  .slide-transition .flex {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h3,
  h5 {
    font-size: 1.25rem;
  }

  /* Hide navigation buttons */
  .absolute.inset-y-0 {
    display: none;
  }
  .slide-subtitle {
    padding-left: 2rem;
  }

}

@media (max-width: 1480px) {
  .join-us {
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
  }

  .slide-transition .flex {
    padding: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h3,
  h5 {
    font-size: 1rem;
  }

  .absolute .flex.items-center {
    display: none;
  }

  .slide-subtitle {
    padding-left: 3rem;
  }
}