.main {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    font-family: "Montserrat" ;

}

.isections {
    background: linear gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: 80%;
    height: 100%;
    font-family: "Montserrat" ;
    justify-content: center;
}

.i-section-content{
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    
}


.isection-1 {
    width: 100%;
    height: 60%;
    background-color: aliceblue;

}
.i-section-p {
    font-size: 3.5rem;
    color: black;
    width: 60%;
    font-weight: 2rem;
    padding: 40px;
 
}



.kids-img {
    width: 50%;
    height: 100%;
}

.image-itself {
    width: 1000%;
    height: 100%;

}

.section-pp {
    font-size: 1.3rem;
}

.section-button {
    color: rgb(236, 139, 12);
    font-size: 1.8rem;
    text-decoration: underline;
}

.isection-2 {
    width: 100%;
    height: 60%;
    background-color: FFEDD5;

}

.i-section-p-2 {
    font-size: 3.5rem;
    color: black;
    width: 60%;
    font-weight: 2rem;
    padding: 40px;
}
.i-section-p-p {
    font-weight: bold;
}
.i-section-p-2 h1 {
    font-weight: bold;
}
.kids-img-2 {
    width: 50%;
    height: 100%;
}

.image-itself-2 {
    width: 1000%;
    height: 100%;

}

.section-pp-2 {
    font-size: 1.3rem;
}

.section-button-2 {
    color: rgb(236, 139, 12);
    font-size: 1.8rem;
    text-decoration: underline;
}

.i-section-content-2 {
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.i-section-content-3{
   padding: 100px;
    justify-content: center;
    height: 100%;
    text-align: center;
    
}

.isection-3 {
    background-color: aliceblue;
}

.section-button-3 {
    background-color: #F59E0B;
    color: black;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .i-section-content,
    .i-section-content-2 {
      flex-direction: column;
    }
  
    .i-section-p,
    .i-section-p-2 {
      font-size: 2.5rem;
      width: 100%;
      padding: 20px;
    }
  
    .section-pp,
    .section-pp-2 {
      font-size: 1.2rem;
      padding: 0 20px;
    }
  
    .section-button,
    .section-button-2,
    .section-button-3 {
      font-size: 1.2rem;
    }
  
    .kids-img,
    .kids-img-2 {
      width: 100%;
      margin-bottom: 20px; /* Added margin for spacing */
    }
  }